<div class="layout-options">

	<a href="/layout-bloom" class="layout-option">
		<img width="144px" src="/assets/images/Layouts/Bloom.png">
		<span class="layout-title">Bloom</span>
	</a>

	<a href="/layout-foundation" class="layout-option">
		<img width="144px" src="/assets/images/Layouts/Foundation.png">
		<span class="layout-title">Foundation</span>
	</a>

	<a href="/layout-clearsky" class="layout-option">
		<img width="144px" src="/assets/images/Layouts/Bloom.png">
		<span class="layout-title">Bloom</span>
	</a>

	<a href="/layout-inspire" class="layout-option">
		<img width="144px" src="/assets/images/Layouts/Foundation.png">
		<span class="layout-title">Foundation</span>
	</a>

 </div>
