<!--REVIEW CONTENT-->
<section id="review">
	<span class="field">Visual Style</span><span id="visual_tone" class="value"><img id="poster" src=""></span>
	<span class="field">Layout Type</span><span class="value"><img id="wireframe" width="188px;" src=""><span id="layout_type"></span></span>
	<span class="field">Page Title</span><span id="page_title" class="value"></span>
	<span class="field">Biography</span><span id="biography" class="value"></span>
	<span class="field">Color Palette</span>
	<span class="value">
				<div id="colorOptions">
					<span class="color-option">
						<span data-hex="#111111">color1</span>
						<span data-hex="#222222">color2</span>
						<span data-hex="#333333">color3</span>
						<span data-hex="#444444">color4</span>
					</span>
				</div>
				<div id="color"></div>
			</span>
	<span class="field">Header Font</span><span id="header-font" class="value"></span>
	<span class="field">Body Font</span><span id="body-font" class="value"></span>
	<span class="field">Features</span><span id="features" class="value"></span>
	<span class="field">Features Removed</span><span id="exclude_features" class="value"></span>
</section>