{% include header.html %}

<body id="layout">

<div class="container">
	<div id="sidebar">
		<h1>You're done!</h1>
		<div class="description">Here are some starting themes to pick from, once you’ve selected one we’ll dig into the specific fonts, colours, imagery, and layouts that will represent your brand and effectively help you reach your audience.
		</div>

		<a href="/review" id="button" class="back">Back</a>
		<a href="/designer" id="button" class="next">Submit</a>

	</div>

	<div id="content">

	</div>
</div>

</body>

{% include footer.html %}
