{% include header.html %}

<body id="index">

<div class="container">
	<div id="sidebar">
		<h1>Build your brand</h1>
		<h2>Pick a theme</h2>
		<div class="description">Here are some starting themes to pick from, once you’ve selected one we’ll dig into the specific fonts, colours, imagery, and layouts that will represent your brand and effectively help you reach your audience.
		</div>
		<a href="#" id="button" class="back">Back</a>
	</div>
	<div id="content">
		<div class="theme-boxes">
			<div class="box">
				<a href="/brand">
					<div class="image"><img src="assets/images/Interior.png"></div>
					<div class="description">Interior</div>
				</a>
			</div>

			<div class="box">
				<a href="/brand">
					<div class="image"><img src="assets/images/Lifestyle.png"></div>
					<div class="description">Lifestyle</div>
				</a>
			</div>
			<div class="box">
				<a href="/brand">
					<div class="image"><img src="assets/images/Modern.png"></div>
					<div class="description">Modern</div>
				</a>
			</div>
			<div class="box">
				<a href="/brand">
					<div class="image"><img src="assets/images/Country.png"></div>
					<div class="description">Country</div>
				</a>
			</div>
			<div class="box">
				<a href="/brand">
					<div class="image"><img src="assets/images/Elegant.png"></div>
					<div class="description">Elegant</div>
				</a>
			</div>
			<div class="box">
				<a href="/brand">
					<div class="image"><img src="assets/images/City.png"></div>
					<div class="description">City</div>
				</a>
			</div>

		</div>
	</div>
</div>

</body>

{% include footer.html %}
