{% include header.html %}

<body id="brand">

<div class="container">
	<div id="sidebar">
		<h1>Branding Review</h1>
		<div class="description">Hi Rob, here are the details that the client has submitted regarding how they would to brand and personalize their website.</div>
		<div class="description">If you're ready to build, click the button below and you'll be redirected to the client's newly generated site, with all of the necessary details pulled in</div>

		<a href="#" id="button" class="back">Generate Template</a>

	</div>

	<div id="content">
		<h3>Branding Review</h3>
		{% include review-content.html %}
		<section id="block">
			<h3>Notes from the client</h3>
			<span id="other"></span>
		</section>

	</div>
</div>

</body>

<script>
    (function ($) {

        // If there is extra comments, show them
        if ( $.cookie('additional_comments' ) ) {
            $('#other').text($.cookie('additional_comments' ))
        }

        //jey them dataz redy for jaky boy
        var formData = JSON.parse($.cookie('formData'));

        var features_json = {};
        var color_json = {};
        var layout_json;

        //layout
	    //fonts
//    *Header Copy*
//        Sans-serif: Montserrat
//        Serif: Playfair Display
//        Slab-Serif: Arvo
//        Script: Dancing Script
//
//        *Body Copy*
//        Sans-serif: Open Sans
//        Serif: Noto Serif
        //grab data from formData
        $.each(formData, function(i){
            $.each(formData[i], function(key, value){
                if ( key == "name" ) {
                    name = value;
                }
                if ( key == "value" ) {
                    if ( name == 'exclude_features' ) {
                        var exclude = value.toLowerCase().replace(/\s+/g, '_');
                        exclude = exclude.split(',');
                        $.each(exclude,function(i){
                            features_json[exclude[i]] = false;
                        });
                    } else if ( name == 'custom_page_input' ){
                        var features =$('#features').html();
                        features = features + value;
                        $('#features').html(features);
                    } else if ( name == 'visual_tone' ){
                        $('#poster').attr('src', 'assets/images/'+$.cookie('tone')+'.png');
                    } else if ( name == 'layout_type' ){
                        layout_json = value.toLowerCase();
                    } else if ( name == 'color1' || name == 'color2'  || name == 'color3'  || name == 'color4' ){
                        color_json[name] = value;
                    }
                }
            });
        });

// {"white":"%23333333","black":"%23CCCCCC","color1":"%2FF333DD","color2":"%23DD00FF","color3":"%23DDFFDD","color4":"%23DDFFDD","color5":"%23DDDDFF","color6":"%23FF00DD"}


	    //url encode!!!!!!!!!

        console.log(JSON.stringify(features_json));
        console.log(JSON.stringify(color_json));
        console.log(JSON.stringify(layout_json));


    })(jQuery);
</script>
{% include review-scripts.html %}
{% include footer.html %}