{% include header.html %}

<body id="brand">

<div class="container">
	<div id="sidebar">
		<h1>Branding Review</h1>
		<div class="description">Hi Rob, here are the details that the client has submitted regarding how they would to brand and personalize their website.</div>
		<div class="description">If you're ready to build, click the button below and you'll be redirected to the client's newly generated site, with all of the necessary details pulled in</div>

		<a href="#" id="button" class="back">Generate Template</a>

	</div>

	<div id="content">
		<h3>Branding Review</h3>
		{% include review-content.html %}
		<section id="block">
			<h3>Notes from the client</h3>
			<span id="other"></span>
		</section>

	</div>
</div>

</body>

<script>
    (function ($) {

        // If there is extra comments, show them
        if ( $.cookie('additional_comments' ) ) {
            $('#other').text($.cookie('additional_comments' ))
        }

    })(jQuery);
</script>
{% include review-scripts.html %}
{% include footer.html %}
