{% include header.html %}

<body id="brand">

<div class="container">
	<div id="sidebar">
		<h1>Branding Review</h1>
		<div class="description">Hi Rob, here are the details that the client has submitted regarding how they would to brand and personalize their website.</div>
		<div class="description">If you're ready to build, click the button below and you'll be redirected to the client's newly generated site, with all of the necessary details pulled in</div>

		<a href="#" id="button" class="back generate">Generate Template</a>

	</div>

	<div id="content">
		<h3>Branding Review</h3>
		{% include review-content.html %}
		<section id="block">
			<h3>Notes from the client</h3>
			<span id="other"></span>
		</section>

	</div>
</div>

</body>

<script>
    (function ($) {

        // If there is extra comments, show them
        if ( $.cookie('additional_comments' ) ) {
            $('#other').text($.cookie('additional_comments' ))
        }

        //jey them dataz redy for jaky boy
        var formData = JSON.parse($.cookie('formData'));

        var features_json = {};
        var color_json = {
            "white" : encodeURIComponent('#FFFFFF'),
            "black" : encodeURIComponent('#000000')
        };
        var blog_to_copy;
        var page_title;
        var tagline;
        var font_json = {};


        //grab data from formData
        $.each(formData, function(i){
            $.each(formData[i], function(key, value){
                if ( key == "name" ) {
                    name = value;
                }
                if ( key == "value" ) {
                    if ( name == 'exclude_features' ) {
                        var exclude = value.toLowerCase().replace(/\s+/g, '_');
                        exclude = exclude.split(',');
                        $.each(exclude,function(i){
                            features_json[exclude[i]] = false;
                        });
                    } else if ( name == 'custom_page_input' ){
                        var features =$('#features').html();
                        features = features + value;
                        $('#features').html(features);
                    } else if ( name == 'visual_tone' ){
                        $('#poster').attr('src', 'assets/images/'+$.cookie('tone')+'.png');
                    } else if ( name == 'color1' || name == 'color2'  || name == 'color3'  || name == 'color4' ){
                        color_json[name] = encodeURIComponent(value);
                        if ( name == 'color3' ) {
                            color_json['color5'] = encodeURIComponent('#000000');
                        }
                        if ( name == 'color4' ) {
                            color_json['color6'] = encodeURIComponent(value);
                        }
                    } else if ( name == 'header-font' ){
                        if ( value == 'sans-serif') {
                            value = 'Montserrat';
                        }
                        if ( value == 'serif') {
                            value = 'Playfair Display';
                        }
                        if ( value == 'slab-serif') {
                            value = 'Arvo';
                        }
                        if ( value == 'script') {
                            value = 'Dancing Script';
                        }
                        font_json['title'] = value;
                    } else if ( name == 'body-font' ){
                        if ( value == 'sans-serif') {
                            value = 'Open Sans';
                        }
                        if ( value == 'serif') {
                            value = 'Source Serif Pro';
                        }
                        font_json['body'] = value;
                    } else if ( name == 'layout_type' ){
                        if ( value == 'Clearsky') {
                            value = '1646';
                        }
                        if ( value == 'Foundation') {
                            value = '1648';
                        }
                        if ( value == 'Inspire') {
                            value = '1651';
                        }
                        if ( value == 'Bloom') {
                            value = '1647';
                        }
                        blog_to_copy = value;
                    } else if ( name == 'page_title' ){
                        page_title = value;
                    } else if ( name == 'biography' ){
                        tagline = value;
                    }
                }
            });
        });

// {"white":"%23333333","black":"%23CCCCCC","color1":"%2FF333DD","color2":"%23DD00FF","color3":"%23DDFFDD","color4":"%23DDFFDD","color5":"%23DDDDFF","color6":"%23FF00DD"}
//        {"title": "Playfair Display", "body": "Dancing Script"}

	    //url encode!!!!!!!!!

        features_json = JSON.stringify(features_json);
        color_json = JSON.stringify(color_json);
        page_title = JSON.stringify(page_title);
        tagline = JSON.stringify(tagline);
        font_json = JSON.stringify(font_json);

        console.log(generate_url);

        var generate_url = 'http://avenuehq.test/wp-admin/admin-ajax.php?action=things&do=Q\\Sites\\hackSite&with[id]='+blog_to_copy+'&with[base_palette]='+color_json+'&with[title]='+page_title+'&with[username]=michelle&with[email]=michelle@avenuehq.com&with[header_title]='+page_title+'&with[header_tagline]='+tagline+'&with[hack_features]=['+features_json+']&with[font_options]='+font_json;

        $('.generate').attr('href', generate_url);



        console.log(generate_url);

    })(jQuery);
</script>
{% include review-scripts.html %}
{% include footer.html %}