{% include header.html %}

<body id="preview">

<div class="container">
	<div id="sidebar">
		<h2>Layout</h2>
		{% include layout-options.html %}
		<a href="/brand#layout" id="button" class="back">Back</a>
	</div>

	<div id="content">

		<section id="block">
			<h3>Bloom Preview</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
				<div class="layout-select-btn">
					<a href="/brand#layout" id="button" class="back">Select Bloom</a>
				</div>		
			<div class="preview-block">
				<img src="//placehold.it/500x500" />
			</div>
		</section>

	</div>
</div>

</body>

<script>
    (function ($) {
        // Set Layout Cookie
        $.cookie('layout', 'Bloom');
    })(jQuery);
</script>
{% include footer.html %}
