{% include header.html %}

<body id="preview">

<div class="container">
	<div id="sidebar">
		<h2>Layout</h2>
		{% include layout-options.html %}
		<a href="/brand#layout" id="button" class="back">Back</a>
	</div>

	<div id="content">

		<section id="block">
			<h3>Clearsky Preview</h3>
			<span class="description">Clearsky was designed to showcase the neighbourhoods that you're serving plus resources to help home buyers and sellers better understand the home buying and selling process.  </br></br> Your designer will work on combining your layout and other choices to create something unique to you.</span>
				<div class="layout-select-btn">
					<a href="/brand#layout" id="button" class="back">Select Clearsky</a>
				</div>
			<div class="preview-block">
				<img src="/assets/images/Layouts/Clearsky-Full.png">

			</div>
		</section>

	</div>
</div>

</body>

<script>
    (function ($) {
        // Set Layout Cookie
        $.cookie('layout', 'Clearsky');
    })(jQuery);
</script>
{% include footer.html %}
