{% include header.html %}

<body id="preview">

<div class="container">
	<div id="sidebar">
		<h1>Layout</h1>
    </span>
		<div class="description">Choose a Layout to see a preview
		</div>

		<a href="/brand" id="button" class="back">Back</a>
		{% include layout-options.html %}

	</div>

	<div id="content">

		<section id="block">
			<h3>Clearsky Preview</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="preview-block">

			</div>
		</section>

	</div>
</div>

</body>

{% include footer.html %}
