{% include header.html %}

<body id="brand">

<div class="container">
	<div id="sidebar">
		<h1>Build your brand</h1>
		<h2>78% Complete</h2>
		<span class="progress-bar">
      <span class="progress"></span>
    </span>
		<div class="description">Here are some starting themes to pick from, once you’ve selected one we’ll dig into the specific fonts, colours, imagery, and layouts that will represent your brand and effectively help you reach your audience.
		</div>

		<a href="/" id="button" class="back">Back</a>
		<a href="/review" id="button" class="next">Next step</a>

	</div>

	<div id="content">

		<section class="intro">
			<h2>Lifestyle</h2>
			<p>Bender, quit destroying the universe! Professor, make a woman out of me. And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also, comes with double prize money.</p>
		</section>

		<section id="block">
			<h3>Content</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="block-content">
				<form>
					Page Title:<br>
					<input type="text" name="Page Title" placeholder="Enter your page title"><br>
					Biography<br>
					<textarea rows="4" cols="50" placeholder="Enter your bio"></textarea>
				</form>
			</div>
		</section>

		<section id="block">
			<h3>Colours</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="block-content">
				Test
			</div>
		</section>

		<section id="block">
			<h3>Type</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="block-content">

				<div class="type-example">
					<div class="type-image">Serif</div>
					<div class="type-label">Serif (recommended)</div>
				</div>

				<div class="type-example">
					<div class="type-image">Sans-Serif</div>
					<div class="type-label">Sans-Serif</div>
				</div>

				<div class="type-example">
					<div class="type-image">Slab-Serif</div>
					<div class="type-label">Slab-Serif</div>
				</div>

				<div class="type-example">
					<div class="type-image">Script</div>
					<div class="type-label">Script</div>
				</div>

			</div>
		</section>

		<section id="block">
			<h3>Photography</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="block-content">
				Test
			</div>
		</section>

		<section id="block">
			<h3>Features</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="block-content">
				<form>

					<div class="col">



						<div class="checkbox">
							<label><input type="checkbox" value="">Lead Capture Bubble</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" value="">Lead Capture Bubble</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" value="">Lead Capture Bubble</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" value="">Lead Capture Bubble</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" value="">Lead Capture Bubble</label>
						</div>

						<div class="checkbox">
							<label><input type="checkbox" value="">Lead Capture Bubble</label>
						</div>

						<input type="checkbox" name="gender" value="male" checked> Lead Capture Bubble<br>
						<input type="checkbox" name="gender" value="female"> Buyers Guide<br>
						<input type="checkbox" name="gender" value="other"> Sellers Guide<br>
						<input type="checkbox" name="gender" value="other"> Testimonials<br>
						<input type="checkbox" name="gender" value="other"> About Page<br>
						<input type="checkbox" name="gender" value="other"> Video Header<br>
						<input type="checkbox" name="gender" value="other"> Home Finder<br>
					</div>
					<div class="col">
						<input type="checkbox" name="gender" value="other"> Home Evaluation<br>
						<input type="checkbox" name="gender" value="other"> Property Search<br>
						<input type="checkbox" name="gender" value="other"> Mortgage Calculator<br>
						<input type="checkbox" name="gender" value="other"> Office Listings<br>
						<input type="checkbox" name="gender" value="other"> Featured Listings<br>
						<input type="checkbox" name="gender" value="other"> Custom Page<br>
					</div>


				</form>
			</div>
		</section>

		<section id="block">
			<h3>Layout</h3>
			<span class="description">Nam suscipit ante ac euismod egestas. Pellentesque nibh nunc, scelerisque nec auctor vel, faucibus hendrerit nisl. Phasellus consequat, est vitae sagittis lobortis.</span>
			<div class="block-content">
				<a href="/layout">Layout</a>
			</div>
		</section>

	</div>
</div>

</body>

{% include footer.html %}
