{% include header.html %}

<body id="preview">

<div class="container">
	<div id="sidebar">
		<h2>Layout</h2>
		{% include layout-options.html %}
		<a href="/brand#layout" id="button" class="back">Back</a>
	</div>

	<div id="content">

		<section id="block">
			<h3>Inspire Preview</h3>
			<span class="description">Inspire is a layout that provides your audience with large photos, for your area, the neighbourhoods you serve and your biography. Its been designed to balance a fast loading website with impressive imagery. </br></br> Your designer will work on combining your layout and other choices to create something unique to you.

			</span>
			<div class="layout-select-btn">
				<a href="/brand#layout" id="button" class="back">Select Inspire</a>
			</div>
			<div class="preview-block">
				<img src="/assets/images/Layouts/Inspire-Full.jpg">
			</div>
		</section>

	</div>
</div>

</body>

<script>
    (function ($) {
        // Set Layout Cookie
        $.cookie('layout', 'Inspire');
    })(jQuery);
</script>
{% include footer.html %}
